{% if site.twitter_user %}
<meta property="twitter:card" content="{% if page.twitter_card.type %}{{ page.twitter_card.type}}{% else %}summary{% endif %}" />
<meta property="twitter:site" content="{{ site.twitter_user }}" />
<meta property="twitter:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}" />
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}" />
<meta property="twitter:creator" content="{% if page.twitter_card.creator %}{{ page.twitter_card.creator }}{% else %}{{ site.twitter_user }}{% endif %}" />
{% if page.twitter_card.image %}<meta property="twitter:image:src" content="{{ page.twitter_card.image }}" />{% endif %}
{% endif %}
<meta property="og:title" value="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
<meta property="og:description" value="{{ description | strip_html | condense_spaces | truncate:150 }}" />
<meta property="og:url" value="{{ site.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
{% if page.cover %}<meta property="og:image" value="{{ site.url }}{{ page.cover }}" />{% endif %}
<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

<!-- Add for fancybox 7 september 2014 http://tritarget.org/blog/2012/05/07/integrating-photos-into-octopress-using-fancybox-and-plugin/ -->

<!-- Load jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery.noConflict(); // ender.js conflicts with jQuery
</script>
<!-- Load FancyBox -->
<link rel="stylesheet" href="/fancybox/jquery.fancybox.css" />
<script src="/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
{% fancyboxstylefix %}
<!-- Custom Scripts -->
<script language="Javascript" type="text/javascript">
// ender.js gobbles jQuery's ready event: Use ender.js $ instead
$(document).ready(function() {
jQuery(".fancybox").fancybox();
});
</script>

<!-- end of fancybox add -->

<!-- Font awesome -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
