<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/talks">Talks</a></li>
  <li><a href="{{ root_url }}/now">Now</a></li>
  <!-- <li><a href="{{ root_url }}/life-list">Life List</a></li> -->
  <li><a href="{{ root_url }}/vitae">CV</a></li>
  <!-- <li><a href="{{ root_url }}/travel">Travel</a></li> -->
</ul>
{% if false %}
  {% if site.tapir_token %}
    <form method="get" action="{{ root_url }}/search.html">
      <fieldset role="search">
        <input class="search" name="query" type="text" placeholder="Search..." x-webkit-speech />
      </fieldset>
    </form>
  {% endif %}
{% endif %}
